h1 {
 color: tomato;
    text-transform: uppercase;
    padding: 50px;
    margin: 50px;
    
}
/* .new-style{
    color:rgb(90, 90, 84);
    background-color:black;
    text-transform: lowercase;
    font-size: 32px;
}
.dark{
    background-color: darkgray;
    color:white;
} */
